{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "import",
    "jest",
    "jsx-a11y",
    "prettier",
    "react",
    "tree-shaking"
  ],
  "ignorePatterns": [
    "**/*.config.*",
    "jest/*.js",
    "node_modules/",
    "dist/**/*"
  ],
  "rules": {
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": false
        }
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-interface": [
      "warn",
      {
        "allowSingleExtends": true
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/ban-types": ["off", { "types": ["{}", "object"] }],
    "class-methods-use-this": ["warn", { "enforceForClassFields": false }],
    "arrow-parens": ["error", "always"],
    "curly": "error",
    // "jsx-alignment": true,
    "camelcase": "error",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "only-multiline",
        "functions": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline"
      }
    ],
    "consistent-return": "off",
    "eol-last": "warn",
    "explicit-member-accessibility": "off",
    "import/first": "warn",
    "import/extensions": "off",
    "import/newline-after-import": "off",
    "import/no-unresolved": "off",
    "import/no-default-export": "error",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-default": "off",
    "import/no-useless-path-segments": "off",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "react/sort-comp": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["HtmlLabel"],
        "labelAttributes": [],
        "controlComponents": ["HtmlInput"],
        "assert": "either"
      }
    ],
    "jsx-quotes": ["error", "prefer-double"],
    "max-classes-per-file": ["error", 2],
    "max-len": [
      "error",
      { "code": 140, "ignorePattern": "^(import |export )\\{(.*)\\}" }
    ],
    "no-console": "off",
    "no-extra-boolean-cast": "off",
    "no-multiple-empty-lines": "warn",
    "no-nested-ternary": "off",
    "no-shadow": "error",
    "no-unused-expressions": "error",
    "no-useless-escape": "off",
    "no-useless-return": "off",
    "prettier/prettier": "off",
    "prefer-object-spread": "off",
    "prefer-destructuring": ["warn", { "object": true }],
    "quotes": ["warn", "single", { "allowTemplateLiterals": true }],
    "react/function-component-definition": "off",
    "react/no-did-update-set-state": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/button-has-type": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-fragments": "off",
    "react/jsx-pascal-case": "off",
    "react/destructuring-assignment": "off",
    "react/state-in-constructor": "off",
    "react/no-children-prop": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-one-expression-per-line": "warn",
    "react/jsx-boolean-value": "off",
    "react/require-default-props": "off",
    "semi": ["error", "always", { "omitLastInOneLineBlock": true }]
  }
}
