@type:registry=https://registry.npmjs.org/
registry=https://registry.npmjs.org/
save-exact=true
min-release-age=7
min-release-age-exclude[]=suomifi-icons
min-release-age-exclude[]=suomifi-design-tokens