{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 70,
        "trailingComma": "none",
        "proseWrap": "never"
      }
    }
  ]
}
